@CHARSET "UTF-8";


#div-principal-dashboard {
 	height: 500px;
 	padding: 0px;
}

#form-dashboard .ui-panel{
	margin-bottom: 100px;
}

#div-principal-dashboard .ui-dashboard-column{
 	float:left; padding-bottom: 0px; margin: 100px 195px 50px 0px;
}

#div-principal-dashboard .ui-dashboard-column:FIRST-CHILD {
 	margin-left: 100px;
}

#div-principal-dashboard .ui-dashboard-column:LAST-CHILD {
	margin-right: 0px;
}

#panel-dashboard-presentation {
	background: #6fb8d6;
	margin: 0;
	padding: 150px 0;
}

#panel-dashboard-presentation #panel-dashboard-panel {
	background: #59bd2f; margin: 100px 10px;
}